<div fxFlex class="strategyDetail-container" fxLayout="column">
  <div class="strategyDetail-programName">Program Name</div>
  <mat-tab-group class="strategyDetail-tabs" fxFlex>
    <mat-tab label="Vision/Mission">
      <div class="detail-container">
        <div class="content-section" fxLayout="column">
          <div fxFlex class="content-container">
            <div class="detail" fxLayout="column">
              <div class="form-header">Definition *</div>
              <mat-form-field fxFlex>
                <input matInput placeholder="" value="">
              </mat-form-field>
              <div class="form-header">Additional Info</div>
              <mat-form-field class="additionInfo" fxFlex>
                <input matInput placeholder="" value="">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex class="content-container">
            <div class="detail" fxLayout="row">
              <div class="supportingDocumentation" fxFlex="70" fxLayout="column">
                <div class="relatedInfo-header" fxFlex="none">Supporting Documentation</div>
                <div class="supportingDocumentation-fields" fxFlex>
                  <mat-form-field fxFlex>
                    <input matInput placeholder="Add Title" value="">
                  </mat-form-field>
                  <mat-form-field fxFlex>
                    <input matInput placeholder="Paste URL..." value="">
                  </mat-form-field>
                </div>
                <div class="noDocumentation" fxFlex>
                  There is no supporting documentation yet.
                </div>
              </div>
              <div class="sponsors" fxFlex="30" fxLayout="column">
                <div class="relatedInfo-header" fxFlex="none">Sponsors</div>
                <div class="user">Test User</div>
                <div class="user">Test User</div>
                <div class="user">Test User</div>
                <div class="user">Test User</div>
                <div class="user">Test User</div>
                <div class="user">Test User</div>
                <div class="user">Test User</div>
                <div class="user">Test User</div>
                <div class="user">Test User</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Goals/Initiative">
      <div class="detail-container" fxLayout="row">
        <div fxFlex="20" class="sideBar" fxLayout="column">
          <div fxFlex class="sidebarContent">
            <ul class="goal">
              <li>Test Goal</li>
              <li>Test Goal</li>
              <li>Test Goal</li>
              <li>Test Goal</li>
              <li>Test Goal</li>
              <li>Test Goal</li>
              <li>Test Goal</li>
              <li>Test Goal</li>
              <li>Test Goal</li>
              <li>Test Goal</li>
              <li>Test Goal</li>
              <li>Test Goal</li>
              <li>Test Goal</li>
              <li>Test Goal</li>
              <li>Test Goal</li>
              <li>Test Goal</li>
              <li>Test Goal</li>
              <li>Test Goal</li>
              <li>Test Goal</li>
              <li>Test Goal</li>
              <li>Test Goal</li>
              <li>Test Goal</li>
              <li>Test Goal</li>
              <li>Test Goal</li>
              <li>Test Goal</li>
              <li>Test Goal</li>
              <li>Test Goal</li>
              <li>Test Goal</li>
              <li>Test Goal</li>
              <li>Test Goal</li>
            </ul>
          </div>
          <div fxFlex="10" class="addGoal">Add Goal</div>
        </div>
        <div fxFlex="80" class="content-section" fxLayout="column">
          <div class="content-container" fxFlex>
            <div class="detail" fxLayout="column">
              <div class="form-header">Summary *</div>
              <mat-form-field fxFlex>
                <input matInput placeholder="" value="">
              </mat-form-field>
              <div class="form-header">Description *</div>
              <mat-form-field class="additionInfo" fxFlex>
                <input matInput placeholder="" value="">
              </mat-form-field>
              <div class="form-header">Success Metric</div>
              <mat-form-field class="additionInfo" fxFlex>
                <input matInput placeholder="" value="">
              </mat-form-field>
            </div>
          </div>
          <div class="content-container" fxFlex>
            <div class="detail" fxLayout="column">
              <div class="relatedInfo-header">Status</div>
              <div><div class="status"></div>At Risk</div>
            </div>
          </div>
          <div class="content-container" fxFlex>
            <div class="detail" fxLayout="column">
              <div class="relatedInfo-header">Sponsors</div>
              <div class="sponsors">
                <div class="user">Test User</div>
                <div class="user">Test User</div>
                <div class="user">Test User</div>
                <div class="user">Test User</div>
                <div class="user">Test User</div>
                <div class="user">Test User</div>
                <div class="user">Test User</div>
                <div class="user">Test User</div>
                <div class="user">Test User</div>
              </div>
            </div>
          </div>
          <div class="content-container" fxFlex>
            <div class="detail" fxLayout="column">
              <div class="relatedInfo-header">Supporting Documentation</div>
              <div class="supportingDocumentation-fields" fxFlex="row">
                <mat-form-field fxFlex>
                  <input matInput placeholder="Add Title" value="">
                </mat-form-field>
                <mat-form-field fxFlex>
                  <input matInput placeholder="Paste URL..." value="">
                </mat-form-field>
              </div>
              <div class="noDocumentation">
                There is no supporting documentation yet.
              </div>
            </div>
          </div>
          <div class="content-container" fxFlex>
            <div class="detail" fxLayout="column">
              <div class="relatedInfo-header">Related Info</div>
              <div class="related-info">Goals</div>
              <div class="related-info">Initiatives</div>
              <div class="related-info">Rules</div>
              <div class="related-info">Data Sets</div>
              <div class="related-info">Systems</div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
