<div fxFlex="100" class="searchDetail-container">
  <div class="assetDetail-container">
    <div class="asset-type">Term</div>
    <div class="term-name">Test Result</div>
    <div class="asset-details">
      <div class="detail-header">Description</div>
      <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat....</div>
    </div>
  </div>
  <div class="assetDetail-container">
    <div class="section-header">Assigned To</div>
    <div class="assigned-users">
      <div class="user" fxLayout="row" fxLayoutAlign=" center center">
        <div class="badge" fxFlex="10">TU</div>
        <div class="username" fxFlex>Test User</div>
      </div>
      <div class="user" fxLayout="row" fxLayoutAlign=" center center">
        <div class="badge" fxFlex="10">TU</div>
        <div class="username" fxFlex>Test User</div>
      </div>
      <div class="user" fxLayout="row" fxLayoutAlign=" center center">
        <div class="badge" fxFlex="10">TU</div>
        <div class="username" fxFlex>Test User</div>
      </div>
      <div class="user" fxLayout="row" fxLayoutAlign=" center center">
        <div class="badge" fxFlex="10">TU</div>
        <div class="username" fxFlex>Test User</div>
      </div>
      <div class="user" fxLayout="row" fxLayoutAlign=" center center">
        <div class="badge" fxFlex="10">TU</div>
        <div class="username" fxFlex>Test User</div>
      </div>
    </div>
  </div>
  <div class="assetDetail-container">
    <div class="section-header">Sponsors</div>
    <div class="assigned-users">
      <div class="user" fxLayout="row" fxLayoutAlign=" center center">
        <div class="badge" fxFlex="10">TU</div>
        <div class="username" fxFlex>Test User</div>
      </div>
      <div class="user" fxLayout="row" fxLayoutAlign=" center center">
        <div class="badge" fxFlex="10">TU</div>
        <div class="username" fxFlex>Test User</div>
      </div>
      <div class="user" fxLayout="row" fxLayoutAlign=" center center">
        <div class="badge" fxFlex="10">TU</div>
        <div class="username" fxFlex>Test User</div>
      </div>
      <div class="user" fxLayout="row" fxLayoutAlign=" center center">
        <div class="badge" fxFlex="10">TU</div>
        <div class="username" fxFlex>Test User</div>
      </div>
      <div class="user" fxLayout="row" fxLayoutAlign=" center center">
        <div class="badge" fxFlex="10">TU</div>
        <div class="username" fxFlex>Test User</div>
      </div>
      <div class="user" fxLayout="row" fxLayoutAlign=" center center">
        <div class="badge" fxFlex="10">TU</div>
        <div class="username" fxFlex>Test User</div>
      </div>
      <div class="user" fxLayout="row" fxLayoutAlign=" center center">
        <div class="badge" fxFlex="10">TU</div>
        <div class="username" fxFlex>Test User</div>
      </div>
    </div>
  </div>
  <div class="comments">Comments</div>
</div>
