<div class="login-container" fxLayout="column" fxLayoutAlign="start">
  <img src="https://igc.boaweb.com/assets/images/IGC_Logo-Vertical.svg" alt="" fxFlex="30">
  <div class="login" fxLayout="column" fxLayoutAlign="none">
    <mat-form-field >
      <input matInput placeholder="Username">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password">
    </mat-form-field>
    <div class="submit-container" fxLayout="row">
      <div class="forgotPass" fxFlex>Forgot Password</div>
      <button class="submit" fxFlex>Submit</button>
    </div>
  </div>
</div>
