<router-outlet name="login"></router-outlet>
<div *ngIf="!isLogin" class="content-area" fxLayout="column">
  <div fxFlex="90" fxLayout="row">
    <div fxFlex="75" fxLayout="column">
      <div fxFlex="10" class="header" fxLayout="row" fxLayoutAlign=" center">
        <div class="icon" fxFlex="20"></div>
        <mat-form-field class="searchBar" fxFlex="50">
          <input matInput type="search" placeholder="Search" value="">
        </mat-form-field>
        <a [routerLink]="[{ outlets: { primary: ['search']} }]" class="searchIcon" fxFlex="5"><mat-icon>search</mat-icon></a>
      </div>
      <router-outlet></router-outlet>
    </div>
    <div fxFlex="25" class="guidance-panel" fxLayout="column">
      <div class="guidance-icons" fxFlex="10" fxLayout="row" fxLayoutAlign=" center">
        <a [routerLink]="[{ outlets: { primary: ['dashboard']} }]" fxFlex>
          <mat-icon>dashboard</mat-icon>
          <div>Dashboard</div>
        </a>
        <a [routerLink]="[{ outlets: { primary: ['asset-detail']} }]" fxFlex>
          <mat-icon>description</mat-icon>
          <div>Asset</div>
        </a>
        <a [routerLink]="[{ outlets: { primary: ['admin']} }]" fxFlex>
          <mat-icon>account_box</mat-icon>
          <div>Admin</div>
        </a>
        <a [routerLink]="[{ outlets: { primary: ['strategy-detail']} }]" fxFlex>
          <mat-icon>assessment</mat-icon>
          <div>Strategy</div>
        </a>
        <a [routerLink]="[{ outlets: { login: ['login']} }]" fxFlex>
          <mat-icon>check_circle</mat-icon>
          <div>Login</div>
        </a>
      </div>
      <router-outlet name="sidebar"></router-outlet>
    </div>
  </div>
  <div fxFlex="10" class="footer">
    <div>This is the Footer.</div>
  </div>
</div>
