<div fxFlex="100" class="admin-container" fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="flex-start">
  <div fxFlex="none" class="admin-box">
    <div class="adminBox-container">
      <div class="adminBox-header" fxLayout="row" fxLayoutAlign="space-evenly center" >
        <div fxFlex="15" class="header-symbol">A</div>
        <div fxFlex="85" class="header">ACCOUNT</div>
      </div>
      <hr>
      <div class="adminBox-details">
        <div>First Name: Test</div>
        <div>Last Name: User</div>
        <div class="user-symbol">TU</div>
      </div>
    </div>
    <div class="edit-bar"><mat-icon>input</mat-icon></div>
  </div>
  <div fxFlex="none" class="admin-box">
    <div class="adminBox-container">
      <div class="adminBox-header" fxLayout="row" fxLayoutAlign="space-evenly center" >
        <div fxFlex="15" class="header-symbol">A</div>
        <div fxFlex="85" class="header">ACCOUNT</div>
      </div>
      <hr>
      <div class="adminBox-details">
        <div>First Name: Test</div>
        <div>Last Name: User</div>
        <div class="user-symbol">TU</div>
      </div>
    </div>
    <div class="edit-bar"><mat-icon>input</mat-icon></div>
  </div>
  <div fxFlex="none" class="admin-box">
    <div class="adminBox-container">
      <div class="adminBox-header" fxLayout="row" fxLayoutAlign="space-evenly center" >
        <div fxFlex="15" class="header-symbol">A</div>
        <div fxFlex="85" class="header">ACCOUNT</div>
      </div>
      <hr>
      <div class="adminBox-details">
        <div>First Name: Test</div>
        <div>Last Name: User</div>
        <div class="user-symbol">TU</div>
      </div>
    </div>
    <div class="edit-bar"><mat-icon>input</mat-icon></div>
  </div>
  <div fxFlex="none" class="admin-box">
    <div class="adminBox-container">
      <div class="adminBox-header" fxLayout="row" fxLayoutAlign="space-evenly center" >
        <div fxFlex="15" class="header-symbol">A</div>
        <div fxFlex="85" class="header">ACCOUNT</div>
      </div>
      <hr>
      <div class="adminBox-details">
        <div>First Name: Test</div>
        <div>Last Name: User</div>
        <div class="user-symbol">TU</div>
      </div>
    </div>
    <div class="edit-bar"><mat-icon>input</mat-icon></div>
  </div>
  <div fxFlex="none" class="admin-box">
    <div class="adminBox-container">
      <div class="adminBox-header" fxLayout="row" fxLayoutAlign="space-evenly center" >
        <div fxFlex="15" class="header-symbol">A</div>
        <div fxFlex="85" class="header">ACCOUNT</div>
      </div>
      <hr>
      <div class="adminBox-details">
        <div>First Name: Test</div>
        <div>Last Name: User</div>
        <div class="user-symbol">TU</div>
      </div>
    </div>
    <div class="edit-bar"><mat-icon>input</mat-icon></div>
  </div>
  <div fxFlex="none" class="admin-box">
    <div class="adminBox-container">
      <div class="adminBox-header" fxLayout="row" fxLayoutAlign="space-evenly center" >
        <div fxFlex="15" class="header-symbol">A</div>
        <div fxFlex="85" class="header">ACCOUNT</div>
      </div>
      <hr>
      <div class="adminBox-details">
        <div>First Name: Test</div>
        <div>Last Name: User</div>
        <div class="user-symbol">TU</div>
      </div>
    </div>
    <div class="edit-bar"><mat-icon>input</mat-icon></div>
  </div>
  <div fxFlex="none" class="admin-box">
    <div class="adminBox-container">
      <div class="adminBox-header" fxLayout="row" fxLayoutAlign="space-evenly center" >
        <div fxFlex="15" class="header-symbol">A</div>
        <div fxFlex="85" class="header">ACCOUNT</div>
      </div>
      <hr>
      <div class="adminBox-details">
        <div>First Name: Test</div>
        <div>Last Name: User</div>
        <div class="user-symbol">TU</div>
      </div>
    </div>
    <div class="edit-bar"><mat-icon>input</mat-icon></div>
  </div>
  <div fxFlex="none" class="admin-box">
    <div class="adminBox-container">
      <div class="adminBox-header" fxLayout="row" fxLayoutAlign="space-evenly center" >
        <div fxFlex="15" class="header-symbol">A</div>
        <div fxFlex="85" class="header">ACCOUNT</div>
      </div>
      <hr>
      <div class="adminBox-details">
        <div>First Name: Test</div>
        <div>Last Name: User</div>
        <div class="user-symbol">TU</div>
      </div>
    </div>
    <div class="edit-bar"><mat-icon>input</mat-icon></div>
  </div>
  <div fxFlex="none" class="admin-box">
    <div class="adminBox-container">
      <div class="adminBox-header" fxLayout="row" fxLayoutAlign="space-evenly center" >
        <div fxFlex="15" class="header-symbol">A</div>
        <div fxFlex="85" class="header">ACCOUNT</div>
      </div>
      <hr>
      <div class="adminBox-details">
        <div>First Name: Test</div>
        <div>Last Name: User</div>
        <div class="user-symbol">TU</div>
      </div>
    </div>
    <div class="edit-bar"><mat-icon>input</mat-icon></div>
  </div>
</div>
