<div fxFlex="100" class="dashboard-container">
  <div fxLayout="row" fxLayoutAlign="space-between none" class="content-section">
    <div class="chart-container" fxFlex="30">
      <h4 class="chart-title">This is a chart</h4>
      <div class="chart"></div>
    </div>
    <div class="chart-container" fxFlex="30">
      <h4 class="chart-title">This is a chart</h4>
      <div class="chart"></div>
    </div>
    <div class="chart-container" fxFlex="30">
      <h4 class="chart-title">This is a chart</h4>
      <div class="chart"></div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between none" class="content-section">
    <div fxFlex="40" class="contributors-container">
      <div class="contributors">

      </div>
    </div>
    <div fxFlex="60" class="asset-totals-container" fxLayoutAlign="space-between none">
      <div class="asset-totals"></div>
      <div class="asset-totals"></div>
      <div class="asset-totals"></div>
      <div class="asset-totals"></div>
    </div>
  </div>
  <div fxLayout="row" class="content-section">
    <div fxFlex="100" class="recentHighlights-container">
      <div class="recentHighlights">
        <div class="highlight">Highlight</div>
        <hr>
        <div class="highlight">Highlight</div>
        <hr>
        <div class="highlight">Highlight</div>
        <hr>
        <div class="highlight">Highlight</div>
        <hr>
        <div class="highlight">Highlight</div>
        <hr>
        <div class="highlight">Highlight</div>
        <hr>
        <div class="highlight">Highlight</div>
        <hr>
        <div class="highlight">Highlight</div>
        <hr>
      </div>
    </div>
  </div>
</div>
