html, body {
  min-height: 100%;
  height: 100%
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.assetDetail-tabs .mat-tab-body-wrapper,
.strategyDetail-tabs .mat-tab-body-wrapper {
  height: 100%;
}

.assetDetail-tabs2 .mat-tab-body-wrapper {
  height: 100%;
}
