<div fxFlex="100" class="search-container">
  <a class="search-result" fxLayout="column" routerLink="/searchdetail">
    <div fxFlex="40" class="searchResult-header">Test Result</div>
    <div fxFlex class="searchResult-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat....
    </div>
  </a>
  <a class="search-result" fxLayout="column" routerLink="/searchDetail">
    <div fxFlex="40" class="searchResult-header">Test Result</div>
    <div fxFlex class="searchResult-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat....
    </div>
  </a>
  <a class="search-result" fxLayout="column" routerLink="/searchDetail">
    <div fxFlex="40" class="searchResult-header">Test Result</div>
    <div fxFlex class="searchResult-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat....
    </div>
  </a>
  <a class="search-result" fxLayout="column" routerLink="/searchDetail">
    <div fxFlex="40" class="searchResult-header">Test Result</div>
    <div fxFlex class="searchResult-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat....
    </div>
  </a>
  <a class="search-result" fxLayout="column" routerLink="/searchDetail">
    <div fxFlex="40" class="searchResult-header">Test Result</div>
    <div fxFlex class="searchResult-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat....
    </div>
  </a>
  <a class="search-result" fxLayout="column" routerLink="/searchDetail">
    <div fxFlex="40" class="searchResult-header">Test Result</div>
    <div fxFlex class="searchResult-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat....
    </div>
  </a>
  <a class="search-result" fxLayout="column" routerLink="/searchDetail">
    <div fxFlex="40" class="searchResult-header">Test Result</div>
    <div fxFlex class="searchResult-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat....
    </div>
  </a>
  <a class="search-result" fxLayout="column" routerLink="/searchDetail">
    <div fxFlex="40" class="searchResult-header">Test Result</div>
    <div fxFlex class="searchResult-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat....
    </div>
  </a>
  <a class="search-result" fxLayout="column" routerLink="/searchDetail">
    <div fxFlex="40" class="searchResult-header">Test Result</div>
    <div fxFlex class="searchResult-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat....
    </div>
  </a>
</div>
